<%= form_with(url: search_articles_path, method: :post) do |form| %>
  <div class="input-group">
    <%= form.search_field :title_search, id: "title_search", class: "form-control", placeholder: "Rechercher..." %>
  </div>
<% end %>
<div id="search_results"></div>
