<%#= articles.count %>
<% articles.each do |article| %>
  <div class="list-group">
    <%= link_to highlight(article.title, params[:title_search]), article, class: "list-group-item list-group-item-action my-link" %>
  </div>
<% end %>
