<h1>Nouvel article disponible !</h1>
<p>Un nouvel article a été publié sur notre blog !</p>
<p><%= @article.title %></p>
<p><%= @article.summary %></p>
<p><%= link_to 'Lire l\'article', article_url(@article) %></p>