<%= link_to 'Retour', root_path, class: "btn btn-secondary mb-3" %>
<div class="row justify-content-center mt-5">
  <div class="col-md-5">
    <div class="card">
      <div class="card-body text-center">
        <h4 class="card-title">Editer l'article</h4>
          <%= render "form", article: @article %>
      </div>
    </div>
  </div>
</div>

<br>

<div>
  <%= link_to "Show this article", @article %> |
  <%= link_to "Back to articles", articles_path %>
</div>
