<header class="masthead" style="background-image: url('https://i.postimg.cc/SQ2G85Sy/about-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>A propos</h1>
          <span class="subheading">Qui suis-je ?</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>⚠️ <strong>PREAMBULE</strong></p>
        <p>Avant de plonger dans la lecture, il me semble important de souligner que les articles que vous trouverez ici reflètent ma compréhension personnelle des sujets abordés. Cette compréhension est issue de ma propre expérience et de mes recherches.</p>
        <p>En tant que développeur, je suis en constante évolution et en apprentissage continu. Bien que je fasse de mon mieux pour vous offrir des informations précises et pertinentes, il est possible que certaines erreurs se soient glissées, ou que j'aie omis certains détails.</p>
        <p>Je vous encourage donc à utiliser ces articles comme points de départ pour votre propre exploration de ces sujets et à toujours vérifier les informations par vous-même. N'hésitez pas à me faire part de vos commentaires, suggestions, ou corrections. La connaissance est un voyage que nous partageons, et nous avons tous quelque chose à apprendre des autres.</p>
        <p>💼 <strong>Mon parcours et ma passion :</strong></p>
        <p>En tant que développeur Back-End passionné, je trouve un véritable plaisir à travailler avec Ruby. La création et l'amélioration des applications en tant que service sont pour moi une source d'enthousiasme sans fin. Je suis constamment intrigué par les différentes manières d'optimiser ces services pour en augmenter l'efficacité et la performance.</p>
        <p>🎓 <strong>Contribuer à la communauté :</strong></p>
        <p>L'apprentissage de nouvelles choses est pour moi une véritable passion et partager ces connaissances avec autrui est une expérience particulièrement enrichissante. Je trouve extrêmement gratifiant d'acquérir de nouvelles compétences et de pouvoir aider les autres à progresser dans leurs propres apprentissages.</p>
        <p>Être actif dans le domaine technologique signifie pour moi un apprentissage constant et un partage de ces connaissances avec la communauté. À travers ce blog, je suis ravi de partager ce que j'ai appris sur Ruby on Rails. Même si mon expérience est toujours en développement, je suis convaincu que comprendre ces concepts peut aider ceux qui cherchent à se familiariser avec cette technologie.</p>
        <p>🎈 J'espère que vous trouverez ce blog informatif et utile, comme je l'ai trouvé précieux dans le processus de consolidation de mes connaissances. Je vous invite à partager vos commentaires et suggestions car, tout comme vous, je suis un apprenant perpétuel qui aspire à s'améliorer chaque jour.</p>
      </div>
    </div>
  </div>
</main>
